body {
    background-color: moccasin;
}

form {
    margin: auto;
    border: 1px solid black;
    width: 60%;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

input {
    margin: 1em;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

#tempOutput {
    width: 60%;
    text-align: center;
    margin: auto;
}